.keen-navbar {
    &-desktop {
        img {
            height: 100px;
            width: auto;
        }
    }
    &-mobile {
        img {
            height: 50px;
            width: auto;
        }
    }
}